* {
    font-family: "Roboto" , sans-serif;
}

a {
    font-weight: 900;
    color: #000000;
}

.link_almaty {
    font-size: 20px;
}

ul, ol {

    color: green;

}

ol :nth-child(1) {

    text-decoration: underline;

}

#header {
    background-color: green;
}


#section_1 {

    background-color: yellow;
}

#section_2 {
    background-color:  red;
}

#section_3 {
    background-color: pink;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}