h1 {

    color: blue;
    font-size: 50px;
    text-align: center;
}

p {

    color: green;


}

.right {
    text-align: right;
    color: red;
}

.center {
    text-align: center;
    color: blue;
}

.img-1 {

    width: 200px;
    height: 200px;
}

.img-2 {

    width: 300px;
    height: 300px;
}