* {

    margin: 0;
    padding: 0;
}
.parent {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}
.frame {

    position: relative;
    top: 20px;
    left: 20px;
    border: 1px solid black;
    width: 480px;
    height: 174px;
}


#img {
    position: relative;
    top: 30px;
}