* {

    margin: 0;
    padding: 0;
}
/* .parent {

    display: inline-block;
    
} */
.frame {

    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
    border: 1px solid black;
    width: 480px;
    height: 174px;
}


#image {
    /* position: absolute; почему тут  не применятеся позиция пишу же абсолют? относительно чего идет позиция родителя? */
    width: 60px;
    height: 60px;
    bottom: 10px;
    left: 30px;
}

#fspan {
    /* position: relative; */
    width: 96px;
height: 19px;
top: 71px;
left: 95px;

font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;


}
.div{

    width: 225px;
height: 42px;
top: 99px;
left: 30px;

font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
text-align: left;

}


.div a {

    color: #1364C2;
}
.span_grey {

font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 14.06px;
letter-spacing: 0em;
color: #808080;

}

#span_grey {

    width: 119px;
}





.frame1 {

    width: 480px;
    height: 174px;
    border: 2px dotted black;
    position: absolute;
    top: 20px;
    left: 20px;
}

#image {

    position: absolute;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
}

#Shrek {
position: absolute;
width: 96px;
height: 19px;
top: 71px;
left: 95px;

font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;

}

#link {
position: absolute;
    width: 40px;
height: 14px;
top: 75px;
left: 197px;

font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
color: #1364C2;
}

#text {
    
position: absolute;
    width: 225px;
    height: 42px;
    top: 99px;
    left: 30px;
    

font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 14.06px;
letter-spacing: 0em;
text-align: left;
color: #000000;

}


#text a {

    color: #1364C2;
}

#time {
position: absolute;
    width: 119px;
height: 14px;
top: 150px;
left: 30px;

font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
color: #808080;

}


#like {
position: absolute;
    width: 244px;
height: 14px;
top: 171px;
left: 30px;

font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 14.06px;
letter-spacing: 0em;
text-align: left;
color: #808080;


}